     *{
		margin: 0;
		padding: 0;
		font-family: Helvetica;
		box-sizing: border-box;
	  }
	  
	  body{
		opacity: 0.9;
		background-image: url("./images/wall1Low.jpg");
		display: grid;
        place-items: center;
		min-height: 100vh;
	  }
      
	  .login{
		
		width: clamp(250px,40vw,400px);
		background:#FFF;
		border-radius: 10px;
        display: grid;
        place-items: center;
        
        
        
	}
	
	  h4{
		
        font-family: Helvetica;
	  
    }

	  input{
        
        
		width: 100%;
        padding: .5em;
		font-size: 12px;
		text-align: center;
        border: 1px solid rgb(187, 182, 182);
        border-radius: .4em;
        
        

		
	  }

      .inputs-container{
        
        width: 100%;
        padding: 2em;
        display: grid;
        place-items: center;
      }

	.button{
	  background-color: hsl(0, 90%, 48%);
	  height: 35px;
	  border: 0px;
	  color:#fff;
	  border-radius: 5px;
	  margin-bottom: 0;
      
     
      
	}
	.button:active{
	transform: scale(0.95);
	color: rgba(1, 0, 0, 0.3);
	}
	
	
    img{

        width: 60%;
        max-width: 250px;
	}
	
	
	.modal {
		display: none; /* Hidden by default */
		position: absolute;; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	/* Modal Content */
	.modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 80%;
	}
	
	/* The Close Button */
	.close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	
	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}



	.contenedor-restablecer{

		background-color: #FFF;
		padding: 1rem;
		width: clamp(290px,60vw,6050px);


	}

	.titulo-restablecer{

		font-size: clamp(23px,5vw,32px);
		font-weight: bolder;
	}

	.contenedor-info-restablecer, form{

		display: grid;
		place-items: center;
		width: 100%;
		
		
	}

	#email-restablecer{

		width: 70%;
	}

	.restablecer, .cancel{

		padding: .5em;
		border-radius: .6em;
		width: 10em;
		background-color: hsl(0, 90%, 48%);
		color: white;
		border-style: none;
	}

	.contenedor-botones{

		
		display: grid;
		place-items: center;
		padding: .5em;
	}

	.cancel{

		background-color: transparent;
		width: 100%;
		border: 1px solid black;
		
		
		
	}

	.cancel a{

		color: #000;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		
		
		
		
	}

	